body {
  background-color: #393E46;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

/* --- Button Styling --- */
#rollButton {
  background-color: #4ECCA3; /* Button color */
  border: none;
  color: #393E46;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 20px 0 50px 0; /* Added margin for spacing */
  cursor: pointer;
  border-radius: 12px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  box-shadow: 0 5px #666;
}

#rollButton:hover {
  background-color: #3CC093;
}

#rollButton:active {
  background-color: #3CC093;
  box-shadow: 0 1px #666;
  transform: translateY(4px); /* Press down effect */
}
/* ---------------------- */

.dice {
  text-align: center;
  display: inline-block;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}